.button {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  background-color: var(--coilterracota);
  color: #fff;
  border: none;
  padding: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 20px; /* Rounded corners */
}

.button:hover {
  background-color: var(--coilgray-light);
  color: var(--coilgray-dark);
  padding: 8px 14px;
  border: 4px solid var(--coilorange-dark);
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  margin: 0 10px;
}

.button:disabled {
  --tw-bg-opacity: -1;
  color: var(--coilgray-light);
  box-shadow: none;
  background-color: rgb(115 107 102 / var(--tw-bg-opacity, 1));
}
